LogicApp/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Service_Bus_Trigger": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "@appsetting('SERVICE_BUS_QUEUE_NAME')",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        },
        "actions": {
            "Scope_Main": {
                "type": "Scope",
                "actions": {
                    "Parse_Service_Bus_Message": {
                        "type": "ParseJson",
                        "runAfter": {},
                        "inputs": {
                            "content": "@{base64ToString(triggerBody()?['ContentData'])}",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "FeedBatchFileId": {
                                        "type": "string"
                                    },
                                    "BlobPath": {
                                        "type": "string"
                                    },
                                    "FileName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "FeedBatchFileId",
                                    "BlobPath",
                                    "FileName"
                                ]
                            }
                        }
                    },
                    "Get_Blob_Content": {
                        "type": "ServiceProvider",
                        "runAfter": {
                            "Parse_Service_Bus_Message": [
                                "Succeeded"
                            ]
                        },
                        "inputs": {
                            "parameters": {
                                "containerName": "feed-export",
                                "blobName": "@body('Parse_Service_Bus_Message')?['BlobPath']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "azureBlob",
                                "operationId": "readBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        }
                    },
                    "Upload_To_SFTP": {
                        "type": "ServiceProvider",
                        "runAfter": {
                            "Get_Blob_Content": [
                                "Succeeded"
                            ]
                        },
                        "inputs": {
                            "parameters": {
                                "folderPath": "@appsetting('SFTP_FOLDER_PATH')",
                                "fileName": "@body('Parse_Service_Bus_Message')?['FileName']",
                                "overwriteFileIfExists": true,
                                "fileContent": "@body('Get_Blob_Content')"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "sftp",
                                "operationId": "uploadFile",
                                "serviceProviderId": "/serviceProviders/Sftp"
                            }
                        }
                    },
                    "Invoke_Azure_Function": {
                        "type": "Http",
                        "runAfter": {
                            "Upload_To_SFTP": [
                                "Succeeded"
                            ]
                        },
                        "inputs": {
                            "method": "POST",
                            "uri": "@appsetting('AZURE_FUNCTION_URL')",
                            "headers": {
                                "Content-Type": "application/json",
                                "x-functions-key": "@appsetting('AZURE_FUNCTION_KEY')"
                            },
                            "body": {
                                "FeedBatchFileId": "@body('Parse_Service_Bus_Message')?['FeedBatchFileId']"
                            }
                        }
                    },
                    "Complete_Service_Bus_Message": {
                        "type": "ServiceProvider",
                        "runAfter": {
                            "Invoke_Azure_Function": [
                                "Succeeded"
                            ]
                        },
                        "inputs": {
                            "parameters": {
                                "messageId": "@triggerBody()?['MessageId']",
                                "lockToken": "@triggerBody()?['LockToken']",
                                "queueName": "@appsetting('SERVICE_BUS_QUEUE_NAME')"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "completeQueueMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Scope_Failed": {
                "type": "Scope",
                "actions": {
                    "Abandon_Service_Bus_Message": {
                        "type": "ServiceProvider",
                        "runAfter": {},
                        "inputs": {
                            "parameters": {
                                "messageId": "@triggerBody()?['MessageId']",
                                "lockToken": "@triggerBody()?['LockToken']",
                                "queueName": "@appsetting('SERVICE_BUS_QUEUE_NAME')"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "abandonQueueMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Scope_Main": [
                        "Failed",
                        "TimedOut"
                    ]
                }
            }
        },
        "outputs": {}
    },
    "kind": "Stateful"
}
